<root xmlns:xforms="http://www.w3.org/2002/xforms" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<model>
		<instance>
			<Author />
			<DocumentType />
			<Categories />
			<Publisher />
			<Description />
		</instance>
	</model>
	<table id="id_matrix" border="0">
		<tr>
			<td class="EP-tableCaptionCell">
				<span id="id_field1">Author</span>
			</td>
			<td valign="top" width="200" height="10">
				<xforms:input ref="Author" value="" id="id_field2" size="40" class="commonInput" />
      </td>
    </tr>
    <tr>
      <td class="EP-tableCaptionCell">
        <span id="id_field6">Publisher</span>
      </td>
      <td valign="top" width="100" height="10">
        <xforms:input ref="Publisher" value="" id="id_field13" size="-1" class="commonInput" />
			</td>
		</tr>
		<tr>
			<td class="EP-tableCaptionCell">
        <br/>
        <span id="id_field5">Type of document</span>
      </td>
      <td valign="top" width="100" height="10">
        <br/>
				<xforms:select1 appearance="full" ref="DocumentType" id="id_field12" >
          <xforms:item>
            <xforms:label>Whitepaper</xforms:label>
            <xforms:value>Whitepaper</xforms:value>
          </xforms:item>
          <xforms:item>
            <xforms:label>Technote</xforms:label>
            <xforms:value>Technote</xforms:value>
          </xforms:item>
          <xforms:item>
            <xforms:label>Manual</xforms:label>
            <xforms:value>Manual</xforms:value>
          </xforms:item>
        </xforms:select1>
        <br />
      </td>
    </tr>
    <tr>
      <td class="EP-tableCaptionCell">
        <span id="id_field5">Categories</span>
      </td>
      <td valign="top" width="100" height="10">
        <xforms:select appearance="full" ref="Categories" id="id_field121">
					<xforms:item>
						<xforms:label>Product1</xforms:label>
						<xforms:value>Product1</xforms:value>
					</xforms:item>
					<xforms:item>
						<xforms:label>Product2</xforms:label>
						<xforms:value>Product2</xforms:value>
					</xforms:item>
					<xforms:item>
						<xforms:label>Product3</xforms:label>
						<xforms:value>Product3</xforms:value>
					</xforms:item>
				</xforms:select>
				<br />
			</td>
		</tr>
		<tr>
      <!--The id on the elements below must be id_field7 & id_field8 for the toggle of description in FileManager to work-->
      <!--The toggle of description in file manger is also the reason for the link-->
			<td class="EP-tableCaptionCell">
        <a href="javascript:void(0);" id="id_field7">Description</a>
			</td>
			<td valign="top" width="100" height="10">
        <div id="id_field8"><xforms:textarea cols="30" rows="10"  ref="Description" value="" id="id_field14" size="-1" class="commonInput" />
        </div>
			</td>
		</tr>
	</table>
</root>
