<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="IntegrationTests" connectionString="Data Source=.\sqlexpress;integrated security=true;MultipleActiveResultSets=True;Initial Catalog=LinqToEPiServer_IntegrationTests"/>
  </connectionStrings>
</configuration>